<h2>Pokédex</h2>
<button (click)="page(-1)" class="switch" id="button_left"> &#60; </button>
<p class="page">{{nombre}} / 41</p>
<button (click)="page(1)" class="switch" id="button_right"> &#62; </button>
<div class="search-box">
  <input type="text" class="input-search" [(ngModel)]="searchText" placeholder="Rechercher...">
</div>


<ul>
  <li *ngFor="let pokemon of allData | filter:searchText" (click)="infos(pokemon)">
      <span>ID : {{pokemon.pokemonData.id}}, </span>
      <span>Nom : {{pokemon.pokemonData.nom}}, </span>
      <span>Type 1 : {{pokemon.pokemonData.type1}}</span>
  </li>
</ul>

