h2{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    position :relative;
    padding-top : 25px;
}

button {
    margin: 50px;
    font-family: inherit;
}

.switch {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .switch::after {
    content: "";
    background-color: #fb5283;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .switch:hover::after {
    top: 0px;
    left: 0px;
  }

  #button_right{
      float: right;
      margin-right: 30%;
  }

  #button_left{
    margin-left: 30%;
}

ul{
    padding-left: 0px;
    padding-left: 10%;
    padding-right: 10%;
}

li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    border: 1px solid black;
    margin: 20px;
    padding: 15px;
}

li:hover{
    background-color: #fb5283;
    transition: 0.2s;
}







.box{
    display: block;
    text-align: center;
}
.input {
    padding: 10px;
    width: 80px;
    height: 80px;
    background: none;
    border: 4px solid #ffd52d;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 26px;
    color: #ffd52d;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 350px;
    background: #272133;
    border-radius: 10px;
}
i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: linear-gradient(#fb5283,#ff3527);
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}