<div class="carte">
    <div class="julien">
        <img src="../../assets/Images/Ronflex.png" class="ronflex">
        <h1>Julien OHANA</h1>
        <a href=" https://github.com/JulienFX"><img src="../../assets/Images/github.png" class="github"></a>
        <a href="mailto:m.ohana.julien@gmail.com"><img src="../../assets/Images/msg.png" class="msg"></a>
        <div [@popOverState]="stateName">
            <p>J'ai joué le rôle du Scrum Master au sein de l'équipe</p>
        </div>
        <button (click)="changer()" class="aboutButton">à propos de moi</button>
    </div>
    <div class="ahmed">
        <img src="../../assets/Images/Ronflex.png" class="simia">
        <h1>Ahmed RAIS</h1>
        <a href="https://github.com/RaisAhmed2511"><img src="../../assets/Images/github.png" class="github"></a>
        <a href="mailto:RaisAhmed2511@gmail.com"><img src="../../assets/Images/msg.png" class="msg"></a>
        <div [@popOverState]="stateName2">
            <p>J'ai joué le rôle du Product Owner au sein de l'équipe</p>
        </div>
        <button (click)="changer2()" class="aboutButton">à propos de moi</button>
    </div>
</div>
