<div class="carte">
    <div class="julien">
        <img src="../../assets/Images/Ronflex.png" class="ronflex">
        <h1>Julien OHANA</h1>
        <a href=" https://github.com/JulienFX"><img src="../../assets/Images/github.png" class="github"></a>
        <a href="mailto:m.ohana.julien@gmail.com"><img src="../../assets/Images/msg.png" class="msg"></a>
    </div>
    <div class="ahmed">
        <img src="../../assets/Images/Ronflex.png" class="simia">
        <h1>Ahmed RAIS</h1>
        <a href="https://github.com/RaisAhmed2511"><img src="../../assets/Images/github.png" class="github"></a>
        <a href="mailto:RaisAhmed2511@gmail.com"><img src="../../assets/Images/msg.png" class="msg"></a>
    </div>
</div>

<h1>Pour voir plus en détails notre code cliquer <a href="https://github.com/RaisAhmed2511/Pokedex">ici</a> afin de vous rendre sur notre répertoire github</h1>

