

<div id="un">
        <div id="id">{{data.id}} - </div>
        <p id="nom">{{data.nom}}</p>
        <div id="pv">{{data.pv}} PV</div>
</div>
<div id="les_types">
    <p class="titre">Type :</p> <p class="type">{{data.type1}}</p><p class="type">{{data.type2}}</p>
</div>
<p class="titre">Generation : {{data.generation}}</p>
<p class="titre" id="leg">Legendaire : {{data.legendaire}}</p>

<div>
    <p class="stats">Attaque : {{data.attaque}}</p>
    <p class="stats">Defense : {{data.defense}}</p>
    <p class="stats">Vitesse : {{data.vitesse}}</p>
</div>
